
body{
    background-image: url(img/fundo1.jpg); /*Colocando uma imagem de fundo*/
    background-color: #90cde6; /*Colocando cor de fundo*/
    /*background-repeat: no-repeat; Imagem sem repetir*/
    /*background-repeat: repeat-x;  Imagem em horizontal*/
    /*background-repeat: repeat-y;  Imagem em Vertical*/
    background-attachment: fixed; /*Define se o plano de fundo fica fixo ou não*/
    background-position: center; /*Define a direção da imagem de fundo*/
    
   
}
/*Fazendo o teste do CSS com a HTML*/
.strong {
    color: red;
} 
h2{
    color: blue;
    text-decoration: line-through;/*Risca o texto*/
    text-transform: lowercase;/*Texto em minusculo*/
}

h1{
    font-size: 20px;
    text-decoration: overline;/*Adiciona uma linha acima do texto*/
}
p {
    text-align: center;
    font-size: 16px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize; /*Primeira letra maiscula em todas palavras do texto*/
    }

h3{
    text-decoration: underline; /*Sublinha o texto*/
    text-transform: uppercase; /*Todas letras maisculas*/
    
}
h4{
    text-align: center;
    color: aqua;
}

hr{
    color: navy;
}

/*Link do site da fundação */
a:link {color: green;}
a:visited{color: yellow;}
a:hover{color: black;}
a:active{color: blue;}

/*Códigos Slide 15 - Módulo 3*/
a {
    text-decoration: none; /*Tira o sublinhado do link*/
}

ol{
    color: antiquewhite; /*Cor da lista*/   
    /*list-style-type: upper-alpha;  Letras grandes */
    list-style-type: upper-roman; /* Letras Romanas */
}

ul{
    color: antiquewhite; /*Cor da lista*/
      /*list-style-type: disc; Bola preta */
      /*list-style-type: circle; /*Circulo */
      list-style-type:square;    /*Quadrado*/

}



/* Classificamos os texto como ID, ai podemos modificar eles (Porque editamos antes como "class", como id ele perde os valores de class)*/
#c1 {
    color: blue;
    text-align: left;
     
}

#c1-1{
    color: blue;
    text-align: left;
}


/*Formatação para op span, que deixa palavra em destaque no texto*/
span.alimento{
    color: red;
}

